<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_OrderInformation
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="advancedBookingOptions" xsi:type="array">
                    <item name="class" xsi:type="string">Mavenbird\BookingSystem\Ui\DataProvider\Product\Form\Modifier\BookingOptions</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Search\Grid\Renderer\Product">
        <plugin name="Mavenbird_BookingSystem::create_bookings_options" type="Mavenbird\BookingSystem\Plugin\Block\Adminhtml\Order\Search\Grid\Renderer\Product"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Items\Grid">
        <plugin name="Mavenbird_BookingSystem::create_bookings_options_edit" type="Mavenbird\BookingSystem\Plugin\Block\Adminhtml\Order\Create\Items\Grid"/>
    </type>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Create\Search\Grid" type="Mavenbird\BookingSystem\Block\Adminhtml\Order\Create\Search\Grid"/>
</config>
