<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_OrderInformation
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mavenbird_BookingSystem::bookingsystem" title="Bookings System" translate="title" module="Mavenbird_BookingSystem" sortOrder="10" resource="Mavenbird_BookingSystem::bookingsystem"/>
        <add id="Mavenbird_BookingSystem::menu" title="Menu" translate="title" module="Mavenbird_BookingSystem" sortOrder="20" parent="Mavenbird_BookingSystem::bookingsystem" resource="Mavenbird_BookingSystem::menu"/>
        <add id="Mavenbird_BookingSystem::bookings" title="View Bookings" translate="title" module="Mavenbird_BookingSystem" sortOrder="1" parent="Mavenbird_BookingSystem::menu" action="bookingsystem/bookings" resource="Mavenbird_BookingSystem::bookings"/>
        <add id="Mavenbird_BookingSystem::support" title="Support" translate="title" module="Mavenbird_BookingSystem" sortOrder="30" parent="Mavenbird_BookingSystem::bookingsystem" resource="Mavenbird_BookingSystem::support"/>
        <add id="Mavenbird_BookingSystem::userguide" title="User Guide" translate="title" module="Mavenbird_BookingSystem" sortOrder="4" parent="Mavenbird_BookingSystem::support" action="bookingsystem/support/blog" resource="Mavenbird_BookingSystem::userguide" target="_blank"/>
        <add id="Mavenbird_BookingSystem::extension" title="Store Extension" translate="title" module="Mavenbird_BookingSystem" sortOrder="5" parent="Mavenbird_BookingSystem::support" action="bookingsystem/support/store" resource="Mavenbird_BookingSystem::extension" target="_blank"/>
        <add id="Mavenbird_BookingSystem::uvdesk" title="Ticket/Customisations" translate="title" module="Mavenbird_BookingSystem" sortOrder="6" parent="Mavenbird_BookingSystem::support" action="bookingsystem/support/uvdesk" resource="Mavenbird_BookingSystem::uvdesk" target="_blank"/>
        <add id="Mavenbird_BookingSystem::services" title="Our Services" translate="title" module="Mavenbird_BookingSystem" sortOrder="8" parent="Mavenbird_BookingSystem::support" action="bookingsystem/support/services" resource="Mavenbird_BookingSystem::services" target="_blank"/>
        <add id="Mavenbird_BookingSystem::reviews" title="Reviews" translate="title" module="Mavenbird_BookingSystem" sortOrder="9" parent="Mavenbird_BookingSystem::support" action="bookingsystem/support/storereview" resource="Mavenbird_BookingSystem::reviews" target="_blank"/>
    </menu>
</config>